{% extends "base.html" %}

{% block title %}Haiku Found{% endblock %}

{% block page_content %}
<div class="page-header">
    <blockquote>
                <p><i>[After a rainstorm]</i><p>
                <p>炎天をいただいて乞ひ歩く</p>
                <p><i>enten o itadaite koi aruku</i></p>
                <p>Begging: I accept / the blazing sun.</p>
         <p><small>種田 山頭火 / Taneda Santōka (1882 - 1940)</small></p>
    </blockquote>
    
        <div class="alert alert-success" role="alert">
                 When ready, click <a href="/" class="alert-link">here</a> to Return the front page.
        </div>
</div>
{% endblock %}
