{% extends "base.html" %}
{% block title %}{{ user.username }}{% endblock %}
{% block page_content %}

<h2>{{ user.username }}<small class="text-muted"> ~ 
                                {% if user.is_online %}
                                Online
                                {% else %}
                                Last online {{ moment(user.last_online).fromNow() }}. 
                                {% endif %}
                       </small>
</h2>

<div class="jumbotron">
  <div class="container">
        <p>{{ user.location }}</p>
        <p>BookCamel member since {{ moment(user.user_since).format('MMM Do YYYY') }}.</p>
        <p>
                User rating: <span class="label label-{{ user.rating_color(rating) }}">{{ rating }}</span>
        </p>
        {% if not current_user.is_anonymous and current_user != user %}
        <p>Rate this user: 
        <a class="btn btn-success btn-xs" href="/r/{{ user.id }}/True"><span class="glyphicon glyphicon-plus"></span></a>
        <a class="btn btn-danger btn-xs" href="/r/{{ user.id }}/False"><span class="glyphicon glyphicon-minus"></span></a>

        </p> 
        {% endif %}
                    
        
        <small class="text-muted">This user has been rated {{ user.total_votes }} 
                {% if user.total_votes == 1 %}
                time.
                {% else %}
                times.
                {% endif %}
        </small>
  

  </div>
</div>



{% if current_user == user %}
<h2>Your Conversations</h2>
        {% if conversations[0] %}
  <div class="container">
    <div class="list-group">

        {% for c in conversations %}
        <a type="button" class="list-group-item" href='/c/{{ c.id }}'>
                {{ c.participants[1].username if c.participants[0] == current_user else c.participants[0].username }} - Re: <b>"{{ c.subject }}"</b>
        </a>
        {% endfor %}

    </div>
  </div>
        {% else %}
        <a type="button" class="list-group-item" href='#'><b>No conversations yet.</b></a>
        {% endif %}

{% endif %}



<h2>{{ user.username }}'s Books</h2>
  <div class="container">
          <div class="list-group">
                  {% if current_user == user %}
                  <a class="list-group-item list-group-item-success" href="/add"><span class="glyphicon glyphicon-plus"></span><b>Add Book</b></a>
                  {% endif %}
                  {% if books %}
                  {% for book in books %}
                  <a type="button" class="list-group-item" href='/b/{{ book.id }}'>
                          "{{ book.title }}" by {{ book.author }}
                                  {% if book.price <= 0 %}
                                  <span style="border-radius: 1em; font-size: 0.9em" class="label label-success pull-right">
                                  Free
                                  {% else %}
                                  <span class="badge">
                                   ${{ "%.2f" % book.price }}
                                  {% endif %}
                                  </span>
                                  <span class="badge float-center hidden-xs">Condition: {{ book.condition }}/5</span>
                  </a>
                  {% endfor %}

          {% else %}
          <a type="button" class="list-group-item list-group-item-info"><b>No books yet :(</b></a>
          {% endif %}

  </div>




{% endblock %}
